/* main css */
/* css cariable start */
:root {
  --button-color: #e02c6d;
  --heading-color: #18191f;
}
/* css cariable end */

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 28px;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 1170px;
}
/* header are css start */
header {
    background-color: #2D25A0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-area{
    width: 1170px;
    padding-top: 52px;
    display: flex;
    justify-content: space-between;
}
.menu-list li a {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    font-weight: 500;
    text-transform: capitalize;
}

.menu-list li {
    list-style: none;
    padding: 0;
}

.menu-list {
    display: flex;
    gap: 36px;
    padding: 0;
}

.login a {
    color: #fff;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    text-decoration: none;
    text-transform: capitalize;
    background: #E02C6D;
    width: 123px;
}
/* header are css end */

/* slider area start */
#home-slide {
    position: relative;
    width: 100%;
    background-color: #2D25A0;
    padding-top: 67px;
}

.slider {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 86px;
}

.slider-text h1 {
    font-size: 64px;
    line-height: 80px;
    color: #fff;
}
 /* clubs area start */
 #club {
    margin: 50px;
    position: relative;
}

.clubs-area {
    padding: 70px 0 165px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 45px;
    grid-row-gap: 27px;
}

.single-club {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

.player-info h1 {
    color: #18191F;
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
}
.player-thumb img {
    width: 100%;
}
 /* clubs area end */
/* news area start */
.news-area {
    display: flex;
    gap: 66px
}
.news-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* news area end */
/* footer area start */
#footer {
    padding: 158px 0 63px;
}
.copy-info p {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.social-bar .fab {
    font-size: 17px;
    background: #E7E7E8;
    padding: 10px 8px;
    border-radius: 50%;
    margin-right: 14px;
}

.social-bar .fab {
    font-size: 17px;
    background: #E7E7E8;
    padding: 10px 8px;
    border-radius: 50%;
    margin-right: 14px;
}

.bottom-footer-info {
    text-align: center;
}
.bottom-footer-info {
    color: #000;
}

/* footer area end */